body {
  background-color: #23252C;
  font-family: Inter, sans-serif;
  color: white;
}
main {
  border-radius: 10px;
  width: 317px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
  background-color: #1A1B21;
  box-shadow: -1px 1px .5px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.02em;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  width: inherit;
}

.card--name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.card--job {
  margin-top: 6px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;

  color: #F3BF99;
}

.card--url {
  margin-top: 9px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* identical to box height, or 15px */
  text-align: center;

  color: #F5F5F5;
}

.card--button {
  margin-top: 15px;
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;
}

.card--button > a > button {
  width: 125px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}



.card--email_btn {
  border: 1px solid #D1D5DB;
  background: #FFFFFF;
  color: #374151;
  transition: opacity 0.15s;
}

.card--email_btn:hover {
  opacity: 0.8
}

.card--linkedin_btn {
  background: #5093E2;
  font-style: normal;
  color: #FFFFFF;
  border: 1px solid #5093E2;
  transition: background 0.2s;
  transition: color 0.2s;
}

.card--linkedin_btn:hover {
  background: #FFFFFF;
  color: #5093E2;
}

.card--content > h2 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #F5F5F5;
}

.card--content > p {
  margin-top: 2px;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 10.24px;
  line-height: 170%;
  
  /* or 15px */

  color: #DCDCDC;
}

.card--content {
  margin: 25px;
}

.card--profile_photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 317px;
  height: 317px;
}


